
{% extends "layouts/blank-unbranded.html" %}


{% block header %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Apply for New Style Jobseeker's Allowance
      </a>
    </div>
  </div>
</header>
{% endblock %}

{% block pageTitle %}
Identity
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  "tag": {
    "text": "prototype"
  },
  "html": "This is a prototype of a new service."
}) }}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">

        <span class="govuk-caption-xl">
          About your payslip
        </span>

        <h1 class="govuk-heading-xl">
          Enter the amount of National Insurance from a payslip
        </h1>

        <div id="benefit-amount-hint" class="govuk-hint">
          <ul class="govuk-list govuk-list--bullet">
            <li>Use a payslip dated after 22 May 2021</li>
            <li>Get the figure from the 'Deductions' section</li>
            <li>Do not use the 'Year To Date' figure</li>
            <li>The amount of National Insurance you paid must be more than 0.00</li>
          </ul>
        </div>

        <p class="govuk-hint">For example 123.86</p>

        <div class="govuk-form-group">
          <div class="govuk-input__wrapper">
            <div class="govuk-input__prefix" aria-hidden="true">£</div>
            <input class="govuk-input govuk-input--width-5" id="cost" name="cost" type="text" spellcheck="false">
          </div>
        </div>

              </div>


      <a class="govuk-button" href="pay-slip">Continue</a>

    </div>
          </div>

{% endblock %}
