
{% extends "layouts/blank-unbranded.html" %}


{% block header %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Apply for New Style Jobseeker's Allowance
      </a>
    </div>
  </div>
</header>
{% endblock %}

{% block pageTitle %}
Identity
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  "tag": {
    "text": "prototype"
  },
  "html": "This is a prototype of a new service."
}) }}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <form method="post" action="">

            <div class="govuk-form-group">
                <span class="govuk-caption-xl">
                    About your payslip
                </span>

                <h1 class="govuk-heading-xl">
                    Enter the amount of tax deducted on a payslip
                </h1>

                <div id="benefit-amount-hint" class="govuk-hint">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Use a payslip dated after 20 May 2020</li>
                        <li>Get the figure from the 'Deductions' section. It may be called 'PAYE' or 'Income Tax'</li>
                        <li>Do not use the 'Year To Date' figure</li>
                        <li>The amount of tax deducted must be more than 0.00</li>
                    </ul>
                </div>

                <p class="govuk-hint">For example 191.27</p>

                {{ govukInput({
                  id: "cost",
                  name: "cost",
                  prefix: {
                    text: "£"
                  },
                  classes: "govuk-input--width-10",
                  spellcheck: false
                }) }}


            </div>

            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Where to find your tax on your payslip
                </span>
              </summary>
              <div class="govuk-details__text">
              </div>
            </details>

            <a class="govuk-button" href="success">Continue</a>

        </form>

        <p class="body-text"><a href="./more-information.html">I don't have that information</a></p>

    </div>
</div>

{% endblock %}
