
{% extends "layout.html" %}


{% block pageTitle %}
Identity
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    classes: "govuk-width-container",
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl ">
        We need to ask some questions to prove your identity
      </h1>

        <p class="govuk-body">You will be asked to give details about two items you may have, like your:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>UK passport</li>
          <li>payslips or P60</li>
          <li>Self Assessment</li>
          <li>tax credits and Voice ID</li>
        </ul>
        <p class="govuk-body">You may also be able to answer questions about your credit record.</p>

        <p class="govuk-body">If you cannot answer these questions, you will need to <a href="#">confirm your identity another way</a>.</p>

        <p class="govuk-body govuk-!-margin-bottom-6">We ask these questions to protect you against malicious or
          fraudulent attempts to access the service.</p>

          {{ govukButton({
            text: "Continue",
            href: "enter-your-details"
          }) }}

    </div>
  </div>

{% endblock %}
