
{% extends "layout.html" %}

{% block header %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Apply for New Style Jobseeker's Allowance
      </a>
    </div>
  </div>
</header>
{% endblock %}

{% block pageTitle %}
Identity
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  "tag": {
    "text": "prototype"
  },
  "html": "This is a prototype of a new service."
}) }}

{{ govukBackLink({
  text: "Back",
  href: "../winter-fuel/results"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="/idv/hmrciv/start-page" method="post">
                <fieldset class="govuk-fieldset">

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

    <h1 class="govuk-fieldset__heading">
      What is your postcode?
    </h1>

  </legend>


</fieldset>




<div class="govuk-form-group">
  <label class="govuk-label" for="postcode">
    Postcode
  </label>

<input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text">
</div>



{{ govukButton({
  text: "Continue",
  href: "identity"
}) }}

            </form>
        </div>
    </div>

{% endblock %}
