
{% extends "layout.html" %}

{% block header %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Apply for New Style Jobseeker's Allowance
      </a>
    </div>
  </div>
</header>
{% endblock %}

{% block pageTitle %}
Bank Maintenance
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  "tag": {
    "text": "prototype"
  },
  "html": "This is a prototype of a new service."
}) }}

{{ govukBackLink({
  text: "Back",
  href: "../winter-fuel/results"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Redirects to services via this page -->

      <form method="post" action="">


      <h1 class="govuk-heading-xl">
        Identity check complete
      </h1>

      <p class="govuk-body-l">You have completed the identity check successfully.</p>

      {{ govukButton({
        text: "Continue",
        href: "https://nsjsa-prototype.herokuapp.com/v2_0-citizen/declaration"
      }) }}


    </form>
  </div>
</div>

{% endblock %}
