
{% extends "layout.html" %}


{% block pageTitle %}
Identity
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    classes: "govuk-width-container",
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="date-of-birth" method="post">
                <fieldset class="govuk-fieldset">

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

    <h1 class="govuk-fieldset__heading">
      What is your name?
    </h1>

  </legend>


</fieldset>

<div class="govuk-form-group">
  <label class="govuk-label" for="first-name">
    First name
  </label>

<input class="govuk-input govuk-!-width-two-thirds" id="first-name" name="first-name" type="text">
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="last-name">
    Last name
  </label>

<input class="govuk-input govuk-!-width-two-thirds" id="last-name" name="last-name" type="text">
</div>

{{ govukButton({
  text: "Continue",
  href: "dob"
}) }}

            </form>
        </div>
    </div>

{% endblock %}
