{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Apply for Jobseeker's Allowance
{% endblock %}

{% block header %}
<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content">
      <a href="#" class="govuk-header__link govuk-header__link--service-name">
        Apply for New Style Jobseeker's Allowance
      </a>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}



{% endblock %}


{% block footer %}



{% endblock %}
